/* src/app/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700;900&display=swap');

:root {
  --background: #0a0a0a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  background-color: var(--background);
  color: white;
  font-family: 'Oswald', sans-serif;
  overflow-x: hidden;
  width: 100%;
}

/* Remove qualquer margem branca acidental em imagens */
img {
  display: block;
  max-width: 100%;
}